.navbar {
    display: flex;
    justify-content: space-around;
    padding: 16px;
    box-shadow: 0 1px 3px -2px black;
}
.nav-logo img {
    width: 65px;
    height: 65px;
}

.nav-logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-logo p {
    color: #171717;
    font-size: 38px;
    font-weight: 600;
}

.nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 50px;
    color: #626262;
    font-size: 20px;
    font-weight: 500;
}

.nav-menu li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
    cursor: pointer;
}

.nav-menu a {
    text-decoration: none;
    color: #090909;
}

.nav-menu hr {
    border: none;
    width: 80%;
    height: 3px;
    border-radius: 100px;
    background: #B03052;
}

.nav-login-cart {
    display: flex;
    align-items: center;
    gap: 50px;
}

.nav-login-cart button {
    width: 150px;
    height: 45px;
    outline: none;
    border: 2px solid #7a7a7a;
    border-radius: 75px;
    color: #515151;
    font-size: 20px;
    font-weight: 500;
    background: white;
    cursor: pointer;
}
.cart-icon {
    width: 45px;
    height: 45px;
}

.nav-login-cart button:active {
    background: #f3f3f3;
}

.nav-cart-count {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -35px;
    margin-left: -65px;
    border-radius: 100px;
    font-size: 15px;
    background: #B03052;
    color: white;
}

